<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spaceship15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{160,182}</string>
                <key>textureRect</key>
                <string>{{229,220},{160,182}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 13 14 15 0 15 17 12 13 15 3 15 0 8 11 12 10 11 8 10 8 9 3 7 8 5 6 7 7 3 4 7 4 5 3 12 15 0 1 2 0 2 3 12 3 8</string>
                <key>vertices</key>
                <string>124 29 160 9 160 76 135 84 150 117 150 182 146 182 124 161 36 145 15 182 10 182 9 120 19 78 0 76 0 3 36 33 58 0 102 0</string>
                <key>verticesUV</key>
                <string>353 249 389 229 389 296 364 304 379 337 379 402 375 402 353 381 265 365 244 402 239 402 238 340 248 298 229 296 229 223 265 253 287 220 331 220</string>
            </dict>
            <key>aliensprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{172,302}</string>
                <key>textureRect</key>
                <string>{{0,402},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 18 19 0 17 18 15 16 17 10 11 12 15 13 14 15 5 13 10 12 13 5 9 13 0 15 17 7 8 9 5 6 7 5 7 9 15 0 5 3 4 5 1 3 5 13 9 10 1 2 3 0 1 5 0 19 20</string>
                <key>vertices</key>
                <string>82 59 97 49 99 5 171 83 171 109 157 110 172 172 157 174 147 203 135 201 110 232 100 302 75 302 40 197 20 206 17 162 0 177 0 101 25 55 56 42 71 0</string>
                <key>verticesUV</key>
                <string>82 461 97 451 99 407 171 485 171 511 157 512 172 574 157 576 147 605 135 603 110 634 100 704 75 704 40 599 20 608 17 564 0 579 0 503 25 457 56 444 71 402</string>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{88,100},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>126 52 126 103 8 104 0 55 36 0 91 0</string>
                <key>verticesUV</key>
                <string>214 152 214 203 96 204 88 155 124 100 179 100</string>
            </dict>
            <key>bullet_2_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{190,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 26 0 26 0 0 10 0</string>
                <key>verticesUV</key>
                <string>200 26 190 26 190 0 200 0</string>
            </dict>
            <key>bullet_2_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{200,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 2 3 0 1 2</string>
                <key>vertices</key>
                <string>10 8 9 26 0 25 0 0 10 0</string>
                <key>verticesUV</key>
                <string>210 8 209 26 200 25 200 0 210 0</string>
            </dict>
            <key>bullet_2_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{180,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 26 0 26 0 0 10 0</string>
                <key>verticesUV</key>
                <string>190 26 180 26 180 0 190 0</string>
            </dict>
            <key>bullet_blue0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{132,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>144 12 132 12 132 0 144 0</string>
            </dict>
            <key>bullet_blue0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{168,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>180 12 168 12 168 0 180 0</string>
            </dict>
            <key>bullet_blue0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{156,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>168 12 156 12 156 0 168 0</string>
            </dict>
            <key>bullet_blue0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{144,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>156 12 144 12 144 0 156 0</string>
            </dict>
            <key>bullet_blue0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>12 12 0 12 0 0 12 0</string>
            </dict>
            <key>bullet_orange0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{24,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>36 12 24 12 24 0 36 0</string>
            </dict>
            <key>bullet_orange0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{36,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>48 12 36 12 36 0 48 0</string>
            </dict>
            <key>bullet_orange0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{108,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>120 12 108 12 108 0 120 0</string>
            </dict>
            <key>bullet_orange0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>24 12 12 12 12 0 24 0</string>
            </dict>
            <key>bullet_orange0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{120,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>132 12 120 12 120 0 132 0</string>
            </dict>
            <key>bullet_purple0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{48,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>60 12 48 12 48 0 60 0</string>
            </dict>
            <key>bullet_purple0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{60,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>72 12 60 12 60 0 72 0</string>
            </dict>
            <key>bullet_purple0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{84,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>96 12 84 12 84 0 96 0</string>
            </dict>
            <key>bullet_purple0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{96,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>108 12 96 12 96 0 108 0</string>
            </dict>
            <key>bullet_purple0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{72,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 12 0 12 0 0 12 0</string>
                <key>verticesUV</key>
                <string>84 12 72 12 72 0 84 0</string>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1.5}</string>
                <key>spriteSize</key>
                <string>{124,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{331,100},{124,117}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>128 26 128 106 39 121 4 104 5 21 65 4</string>
                <key>verticesUV</key>
                <string>455 122 455 202 366 217 331 200 332 117 392 100</string>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3.5}</string>
                <key>spriteSize</key>
                <string>{122,121}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,220},{122,121}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 2 5 6 3 4 5 2 3 5 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>128 25 128 81 102 113 75 128 6 119 6 46 45 7 95 7</string>
                <key>verticesUV</key>
                <string>122 238 122 294 96 326 69 341 0 332 0 259 39 220 89 220</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5.5,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{214,100},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 4 5 1 2 3 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>109 6 128 55 128 109 98 124 39 124 13 98 11 4</string>
                <key>verticesUV</key>
                <string>312 102 331 151 331 205 301 220 242 220 216 194 214 100</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{210,0},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 8 9 15 7 8 11 3 4 11 4 5 12 1 2 13 0 1 11 12 2 11 2 3 10 11 5 10 5 6 7 15 10 7 10 6 14 15 9 0 13 14 13 1 12 0 14 9</string>
                <key>vertices</key>
                <string>83 23 83 74 58 97 25 97 1 78 0 54 0 33 9 2 29 0 60 0 18 36 32 78 58 72 67 47 55 20 34 16</string>
                <key>verticesUV</key>
                <string>293 23 293 74 268 97 235 97 211 78 210 54 210 33 219 2 239 0 270 0 228 36 242 78 268 72 277 47 265 20 244 16</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,100}</string>
                <key>spriteSourceSize</key>
                <string>{87,100}</string>
                <key>textureRect</key>
                <string>{{380,0},{87,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 7 8 10 3 4 10 4 5 2 11 12 12 0 1 2 12 1 11 2 3 10 11 3 9 10 5 9 5 6 7 14 9 7 9 6 13 14 8 0 13 8 0 12 13</string>
                <key>vertices</key>
                <string>87 30 87 83 59 100 27 100 2 78 0 54 0 25 25 0 69 0 21 36 22 67 47 82 67 63 64 31 46 17</string>
                <key>verticesUV</key>
                <string>467 30 467 83 439 100 407 100 382 78 380 54 380 25 405 0 449 0 401 36 402 67 427 82 447 63 444 31 426 17</string>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,98}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{293,0},{87,98}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 2 3 8 3 4 10 0 1 9 1 2 8 9 3 7 8 4 7 4 5 12 7 5 12 5 6 11 12 6 0 11 6 10 1 9 0 10 11</string>
                <key>vertices</key>
                <string>87 80 61 98 33 98 12 95 0 58 0 0 87 0 24 29 20 57 35 78 65 66 62 26 41 16</string>
                <key>verticesUV</key>
                <string>380 80 354 98 326 98 305 95 293 58 293 0 380 0 317 29 313 57 328 78 358 66 355 26 334 16</string>
            </dict>
            <key>shield4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{88,99}</string>
                <key>textureRect</key>
                <string>{{0,100},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 7 8 12 6 7 10 3 4 2 10 11 11 0 1 2 11 1 10 2 3 9 10 4 9 4 5 6 12 9 6 9 5 0 11 12 0 12 8</string>
                <key>vertices</key>
                <string>88 22 88 74 63 99 25 99 0 74 0 41 12 7 36 0 63 0 20 50 36 78 68 60 45 20</string>
                <key>verticesUV</key>
                <string>88 122 88 174 63 199 25 199 0 174 0 141 12 107 36 100 63 100 20 150 36 178 68 160 45 120</string>
            </dict>
            <key>shields.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1.5}</string>
                <key>spriteSize</key>
                <string>{248,253}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{172,402},{248,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>18 11 12 10 13 9 10 11 13 14 9 13 15 16 5 16 3 4 16 4 5 17 2 3 17 1 2 12 0 18 18 0 1 18 1 17 16 17 3 15 5 6 15 6 7 14 15 7 14 8 9 8 14 7 18 13 11</string>
                <key>vertices</key>
                <string>180 9 235 51 252 104 252 171 208 235 150 253 83 252 19 206 4 151 4 86 44 24 97 4 128 0 97 107 90 136 107 159 145 159 165 120 136 94</string>
                <key>verticesUV</key>
                <string>348 411 403 453 420 506 420 573 376 637 318 655 251 654 187 608 172 553 172 488 212 426 265 406 296 402 265 509 258 538 275 561 313 561 333 522 304 496</string>
            </dict>
            <key>spaceshipspr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{107,171}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{122,220},{107,171}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 5 3 4 5 1 2 5 1 5 6 0 1 6</string>
                <key>vertices</key>
                <string>66 2 103 115 108 136 96 172 1 172 1 127 42 1</string>
                <key>verticesUV</key>
                <string>187 221 224 334 229 355 217 391 122 391 122 346 163 220</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be06a27b05d4c618c3657629e858e24b:3c4034c335f8d8c24fac96b8f4aa7940:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
