<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spaceship15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{160,182}</string>
                <key>textureRect</key>
                <string>{{0,652},{160,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aliensprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{172,302}</string>
                <key>textureRect</key>
                <string>{{0,1090},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,352},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_2_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{192,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_2_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{222,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_2_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{212,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_blue0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{144,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_blue0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{168,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_blue0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{180,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_blue0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{156,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_blue0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_orange0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{24,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_orange0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{36,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_orange0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_orange0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{120,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_orange0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{48,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_purple0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{72,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_purple0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{132,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_purple0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{96,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_purple0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{108,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_purple0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{84,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collision_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{202,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collision_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{172,302}</string>
                <key>textureRect</key>
                <string>{{0,1392},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collision_enemy_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{60,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collision_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{108,480},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,224},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,224},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,352},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{0,26},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,100}</string>
                <key>spriteSourceSize</key>
                <string>{87,100}</string>
                <key>textureRect</key>
                <string>{{88,124},{87,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,98}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{83,26},{87,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{88,99}</string>
                <key>textureRect</key>
                <string>{{0,124},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shields.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,834},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spaceshipspr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{0,480},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{256,1694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf0e20b614229e72b88cd59bebc45fc:226d670ef2412ec60bad709608ef1ceb:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
